<div class="center hero-unit">
<h1>Welcome to Vishal Call!</h1>
<h2>
	<br>
	This is the home of the Vishal Call Project. Go ahead. Give Vishal a ring:
</h2>	
	<a href="/success" class="btn btn-large btn-primary">Call Vishal!</a>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>